<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 bg-dark" style="text-align: center;">
            <button class="btn text-heading-white" [routerLink]="['../viewclaim']" >CLAIM</button>
            <!-- <a>BUY</a> -->
        </div>
        <div class="col-md-6 bg-dark" style="text-align: center;">
            <button class="btn text-heading-white">PLANS</button>
            <!-- <a>RENEW</a> -->
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4 ">
        <form [formGroup]="getPlan" (ngSubmit)="addplan(addplan)">
            <label class="label-name">Vehicle Type</label>
            <input type="text" formControlName="vehicleType" placeholder="Vehicle Type" class="form-control">
            <label>Select Vehicle Plan Type</label>
                <div class="d-flex justify-content-around">
                    <div class="form-check">
                        <input type="radio" class="form-check-input"  formControlName="pType" value="Third Party" required>
                        <label class="form-check-label">Third-Party</label>
                    </div>
                    <div class="form-check">
                        <input type="radio" class="form-check-input" formControlName="pType" value="Comprehensive">
                        <label class="form-check-label">Comprehensive</label>
                    </div>
                </div>
                <label class="label-name">Amount</label>
                <input type="number" formControlName="planAmt" class="form-control" placeholder="Enter Amount" required>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>