
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3 bg-dark" style="text-align: center;">
                <button class="btn text-heading-white" [routerLink]="['buy']" >BUY</button>
                <!-- <a>BUY</a> -->
            </div>
            <div class="col-md-3 bg-dark" style="text-align: center;">
                <button class="btn text-heading-white" [routerLink]="['renew']">RENEW</button>
                <!-- <a>RENEW</a> -->
            </div>
            <div class="col-md-3 bg-dark" style="text-align: center;">
                <button class="btn text-heading-white" [routerLink]="['claimhistory']" >CLAIM</button>
                <!-- <a>CLAIM</a> -->
            </div>
            <div class="col-md-3 bg-dark" style="text-align: center;">
                <button class="btn text-heading-white" [routerLink]="['../estimate']">ESTIMATE</button>
                <!-- <a>ESTIMATE</a> -->
            </div>
        </div>
    </div>
    <section id="home" class="home-section">
        <div class="user-home-cover">
            <div class="home-content-box">
                <div class="home-content-box-inner">
                    <div class="row">
                        <div class="col-md-4">
                        </div>
                        <div class="col-md-4">
                            <table class="table table-striped table-bordered">
                              <thead>
                                <tr>
                                  <th>
                                    Policy Number
                                  </th>
                                  <th>
                                    Vehicle Number
                                  </th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr *ngFor="let p of policyList">
                                  <td >{{p.policyNum}}</td>
                                  <td >{{p.vehicleRegNum.regNum}}</td>
                                </tr>
                              </tbody>
                            </table>
                            <div class="btn">
                              <button class="btn btn-lg btn-general btn-blue" >CLAIM</button>
                          </div>
                          <div class="btn">
                              <button class="btn btn-lg btn-general btn-blue">RENEW</button>
                          </div>
                        </div>
                        <div class="col-md-4">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>